body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: auto;
  background-color: #f4f4f4;
  font-family: 'Alverta', sans-serif; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  max-width: 1200px;
}

.header {
  text-align: left;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #002b5e;
  margin-bottom: 10px;
}

.header p {
  font-size: 1rem;
  color: #555;
  width: 631px;
  height: 300px;
  overflow: hidden; /* Evita que el contenido desborde el tamaño establecido */
}


.image-container {
  text-align: right;
  margin-bottom: 10px;
}

.image-container img {
  width: 548px;
  height: 300px;
  object-fit: cover; /* Asegura que la imagen mantenga su proporción dentro de las dimensiones establecidas */
  border-radius: 8px;
}

.faq {
  margin-top: 20px;
}

.faq h2 {
  font-size: 1.5rem;
  color: #002b5e;
  margin-bottom: 15px;
}

.faq-item {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.faq-item button {
  width: 100%;
  background-color: #002b5e;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item button:hover {
  background-color: #0056b3;
}

.faq-item p {
  padding: 15px;
  background-color: #f9f9f9;
  display: none;
  color: #333;
}

.faq-item button::after {
  content: '+';
  font-size: 1.2rem;
  color: white;
}

.faq-item button.active::after {
  content: '-';
}
